body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    color: #112e51; /* CSUMB blue */
}

form {
    background-color: white;
    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
    box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
    border-radius: 4px;
}